 <div class="container">
  <div class="spinner" *ngIf="spinner"><img src="./assets/ajax-loader.gif"></div>
     <div class="row">
            <div class="col-md-12 header-form">Image Tagging Form</div>
     </div>
 <div *ngIf="untaggefimageFound">  
 <table class="table table-bordered" style="margin-left: -7%;">
          <thead>
            <tr>
              <th style="display: table;width: 180px">Parent ID - Category - Description</th> 
              <th>FrontImage</th>
              <th>BackImage</th>
              <th>BACK</th>
              <th>NECKLINE</th>
              <th>SLEEVES</th>
              <th>SHOULDER</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
                <tr *ngFor="let item of data| paginate : { itemsPerPage:itemperPage, currentPage:pagenoActive,  totalItems:actualCount};let row_no = index">
                    <td >{{item.parent_id}} - {{item.category_name}} - {{item.long_description}}</td>
                    <td>
                        <img src="{{item.front_image}}" class="img-rounded" alt="FrontImage" onerror="this.onerror=null;this.src='./assets/placeholder-image.png';" width="235"  class="market-banner-image2">
                    </td> 
                    <td>
                        <img src="{{item.back_image}}" class="img-rounded" alt="FrontImage" onerror="this.onerror=null;this.src='./assets/placeholder-image.png';" width="235"  class="market-banner-image2">
                    </td>

                        <td>
                              
                                <mat-radio-group *ngFor="let back of Back" name="group{{row_no}}" [(ngModel)]="ngBack[row_no]">
                                        <mat-radio-button value="{{back}}" style="font-size: 12px;padding-bottom: 15px;">{{back}}</mat-radio-button>
                                </mat-radio-group>
                                <!-- <input type="text" *ngIf="nginput[row_no]" id="input[row_no]" name="input{{row_no}}" [(ngModel)]="nginput[row_no]"> -->
                               
                        </td>
                        <td>
                                <mat-radio-group *ngFor="let back of NeckLine" name="group1{{row_no}}" [(ngModel)]="ngNeck[row_no]">
                                        <mat-radio-button value="{{back}}" style="font-size: 12px;padding-bottom: 15px;">{{back}}</mat-radio-button>
                                </mat-radio-group>
                               
                        </td>
                        <td>
                                <mat-radio-group *ngFor="let back of Sleeves" name="group2{{row_no}}" [(ngModel)]="ngSeleevs[row_no]">
                                        <mat-radio-button value="{{back}}" style="font-size: 12px;padding-bottom: 15px;">{{back}}</mat-radio-button>
                                </mat-radio-group>
                               
                        </td>
                        <td>
                                <mat-radio-group *ngFor="let back of Shoulder" name="group3{{row_no}}" [(ngModel)]="ngShoulder[row_no]">
                                        <mat-radio-button value="{{back}}" style="font-size: 12px;padding-bottom: 15px;">{{back}}</mat-radio-button>
                                </mat-radio-group>
                                
                                
                        </td>
                        <td>
                                <div class="col-md-2">
                                        <input type="button" class="btn btn-primary" value="Submit" (click)="putApi(row_no)">
                                        
                                </div><br>
                                <div class="col-md-2" style="margin-left: -21px;margin-top: 28px;"> 
                                        <input type="button" class="btn btn-default" value="Skip" (click)="skipButton(row_no)">
                                </div>
                         </td>
                 </tr>
                
          </tbody>
        </table> 
        <div class="footer">
                        <pagination-controls (pageChange)="getServerData($event)"></pagination-controls>
        </div>
</div>  
<p *ngIf="noimagefoundTagging" class="noimagefound">No Untagged Image Found</p>
</div> 
   

