/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body
{
  overflow-x: auto;
}
.algin-inline
{
  display: -webkit-inline-box;
}
.align-textbox
{
  padding-top: 9px;
  width: 109px;
    padding-right: 28px;
}
.row-height
{
  height: 100px;
}
.form-control
{
  cursor: pointer;
}
.header-form
{
  margin-top: 3%;
    margin-left: 11%;
    height: 89px;
    color: #0587f6;
    font-size: 34px;
    font-weight: bold;
    padding-left: 30%;
}
.Line {
  width: 830px;
  height: 2px;
  border: solid 1px #afb3c3;
}
.main-div
{
  margin: 55px;
   background: #fff; height: 100%; 
   padding: 46px;
   padding-left: 15%;
   box-shadow: 0 14px 26px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.market-banner-image2 {
  
  display: block;
}
.cross-button
{
  cursor: pointer;
  color: red;
  position: absolute;
  margin-left: 0;
  margin-top: 3px;
  font-size: 21px;

}
.spinner
{
  width: 100px;
  height: 100px;
  z-index: 1000;
  position: fixed;
  margin-left: 25%;
  margin-top: 12%;
}
.modal {
  display: block; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  padding-left: 33%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff;
}
.mat-card
{
  text-align: center;
    width: 50%;
    height: 135px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.noimagefound
{
  color: red;
    font-size: 51px;
    text-align: center;
    margin-top: 93px;
}